@media screen and (max-width:400px){

    
.class4{
    height: 700px;
    margin-top: 30px;
    float: center;
    }
.class4 h2{
    font-size: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 140px 0 10px 130px;

}
.class4 p,.class8 p{
    font-size: 25px;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 12px 0 0 130px;
    float:center;
    padding: 0;
}
.class5{
    
}

    
}