*{
 margin: 0;
 padding: 0;
}
body{
    background-image: url('1.jpg');
    background-size: 100vw 665px ;
    background-repeat:no-repeat ;
}
.header{
    margin: 35px;
}
.class1{
    float: right;
    padding: 5px;
}
.class1 select{
    padding: 5px;
    background-color: rgba(255, 255, 255, 0);
    color: white ;
    border-color: white;
    font-size: 16px;
    border-width: 2px;
    border-radius: 4px;
}
.class1 select option{
    background-color: gray;
    border-style: none;
}
.class1 button{
    padding: 10px;
    margin-left: 15px;
    background-color: rgb(245, 17, 17);
    font-size: 16px;
    color: white;
    width: 86px;
    border-style: none;
    border-radius: 5px;
    pointer-events: auto;
 }

.class2{
    text-align: center;
    margin-top: 150px;
}
.class2 h3{
    font-size: 45px;
    margin-bottom: 4px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.class2 h4{
    font-size:25px ;
    margin: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.class2 p{
    font-size: 22px;
    font-weight: bold;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.class3{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.class3 input{
    width: 450px;
    height: 60px;
    padding-left: 10px;
    font-size:20px ;
}

.class3 input::placeholder{
font-size: 17px;
}
.class3 button{
    background-color: red;
    border-style: none;
    border-radius: 1px;
    width: 200px;
    color: white;
    font-size: 25px;
    padding: 5px;
}
button:hover{
    cursor: pointer;
    background-color:rgb(213, 9, 9);
}





.container1{
    background-color: black;
    width: 100vw;
    height: 500px;
    margin-top: 130px;
}

.class4{
    margin-top: 30px;
    float: right;
    }
.class4 h2{
    font-size: 45px;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 140px 130px 10px 0;

}

.container2,.container4,.container3{
    background-color: black;
    width: 100vw;
    height: 500px;
}

.class6,.class10,.class8{
    float: right;
}
.class6 h2,.class10 h2,.class8 h2{
    font-size: 45px;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 140px 130px 10px 0;
}
.class6 p,.class10 p,.class8 p,.class4 p{
    font-size: 25px;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 12px 130px 0 0;
    padding: 0;
}

