@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Permanent+Marker&family=Poppins:wght@500&family=Roboto:wght@100&family=Shadows+Into+Light&display=swap');
/* Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
hr{
    background-color: #222222;
    height: 10px;
    border: none;
}
body{
    background-color: #000000;
}
/*==============header(.heading) section start=============*/
.Container_1{
    background: url('../Image/background.jpg') no-repeat;
    width: 100%;
    height: 614px;
}
.blurBackground{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.725);
    height: 100%;
}
.Container_1 .heading{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}
.Container_1 .heading .logo img{
  width: 140px;
}
.Container_1 .heading .signInBtn{
    display: flex;
    column-gap: 20px;
}
.selectOption select,
.Container_1 .heading .signInBtn button{
    width: 90px;
    height: 35px;
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    outline: none;
    border: none;
}
.selectOption{
    color: white;
    border: 1px solid white;
    padding:0 10px;
    width: 140px;
}
.selectOption select option{
    background-color: gray;
    font-size: 1rem;
    padding: 10px;
}
.Container_1 .heading .signInBtn button{
    background-color: #E50914;
    cursor: pointer;
}
/*==============header(.heading) section End=============*/

/*==============introContainer section start=============*/
.Container_1 .introContainer{
    margin: 100px auto;
    color: white;
    text-align: center;
    max-width: 900px;
    min-width: 300px;
}
.introContainer h2{
    font-size: 3.5rem;
    padding: 0 130px;
    line-height: 65px;
}
.introContainer h3{
    font-size: 1.9rem;
    font-weight: 300;
}
.introContainer p{
  font-size: 1.4rem;
  margin: 35px 0 20px 0;
  /* margin: 35px 34px 20px 34px; */
  text-align: center;
}
.introContainer .emailForm{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.introContainer input{
    /* width: 500px; */
    width: 50%;
    height: 55px;
    padding-left: 16px;
    outline: none;
    margin-bottom: 25px;
}
.introContainer button{
    height: 55px;
    width: 200px;
    background-color: #E50914;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
/*==============introContainer section End=============*/

/*==============container_2 section Start=============*/
.container_2{
    display: grid;
    grid-template-columns:repeat(12,1fr);
    padding: 50px 0;
    width: 100%;
    background-color: transparent;
    color: white;
    align-content: center;
}
.container_2 h2{
    font-size: 3.6rem;
    margin-top: 120px;
}
.container_2 p{
    font-size: 1.8rem;
    margin-top: 9px;
}
.container_2 .ad_1{
    grid-column: 2/7;
}
.container_2 .ad_2{
    grid-column: 8/13;
}
.container_2  img{
    width: 500px;
}

.video1{
    position: relative;
}
.video1 video{
    position: absolute;
    right: 132px;
    top: 78px;
    width: 365px;
    z-index: -1;
}
.video2{
    position: relative;
}
.video2 video{
    position: absolute;
    right: 163px;
    top: 45px;
    width: 310px;
    z-index: -1;
}
/*==============container_2 section End=============*/
/*==============container_3 section Start=============*/
.container_3{
    display: grid;
    align-content: center;
    grid-template-columns:repeat(12,1fr);
    background-color: #000000;
    padding: 50px 0;
    color: white;
    position: relative;
}
.container_3 h2{
    font-size: 3.6rem;
    margin-top: 100px;
}
.container_3 p{
    font-size: 1.8rem;
    margin-top: 9px;
}
.container_3 .ad_1{
    grid-column: 2/7;
}
.container_3 .ad_2{
    grid-column: 7/12;
}
.container_3  img{
    width: 500px;
}

.box{
    position: absolute;
    bottom: 100px;
    left: 200px;
    border: 2px solid #404040;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:6px 10px;
    background-color: #000000;
    width: 310px;
    border-radius: 10px;
}
.box .movie_name{
    display: flex;
    align-items: center;
}
.box img{
    width: 50px;
}
.box .downloading{
    padding-left: 20px;
}
.box .downloading h3{
    margin: 0;
    padding: 0;
}
.box .downloading p{
    margin: 0;
    padding: 0;
    line-height: 18px;
    font-size: 2px;
    color: blue;
}
/*==============container_3 section End=============*/

/*==============frequntly ask question section Start=============*/
.frequentlyQuestion{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    color: white;
    margin-bottom: 80px
}
.frequentlyQuestion h2{
  margin: 50px 0 40px 0;
  font-size: 3.6rem;
}
.frequentlyQuestion .questions-ans{
    /* background-color: #303030; */
    width: 900px;
    margin-bottom: 10px;
}
.frequentlyQuestion .questions-ans .question{
    background-color: #303030;
    font-size: 2rem;
    padding: 15px 55px;
    height:65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.frequentlyQuestion .questions-ans .question i{
    font-size: 3rem;
}
.frequentlyQuestion .questions-ans .answer{
    padding: 15px;
    background-color: #303030;
    margin-top: 1px;
    font-size: 1.7rem;
    padding: 40px 55px;
    display: none;
}
.frequentlyQuestion .questions-ans.active .answer{
    display: block;
}
.frequentlyQuestion .questions-ans.active .fa-plus{
    transform: rotate(45deg);
    transition: .2s;
}



/*==============frequntly ask question section End=============*/

/*==============footer section start=============*/
.footer{
    background-color: #000000;
    color: white;
    padding:50px 200px;
    color: #616A6F;
    font-size: 1.2rem;
}
.footer p{
    padding: 30px 0;
}
.footer a{
    color: #616A6F;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
.footer ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 50px 0;
}
.footer ul a{
    width: 25%;
    padding: 5px 0;
    font-size: 1rem;
}

/*==============footer section End=============*/

